



.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 100%;
      margin: auto;
  }
  
  .navbar{
  background: #005900;
  border-style: none;
  color: #bababa;
  }
 .navbar .collapse . ul . li{
    border-style: none;
  color: black;
  }
.navbar .collapse . ul . li .active{
 background: #ffffff;
 }
 . ol{
  li
 }